// Variables

// Restated Bootstrap Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$primary: #007bff !default;

$navPrimary: #61b8ff !default;
$warningColor: #ffbc00;

$overlayBg: rgba(27, 32, 38, 0.5);
$alertBg: rgba(231, 76, 60, 0.7);
$successBg: rgba(39, 174, 96, 0.7);

// responsive break points
$breakSmall: 768px;
$breakMedium: 992px;
$breakLarge: 1200px;